@model IEnumerable<BugTrackerv2.Models.TicketFolder.Ticket>

@{
    ViewBag.Title = "Index";
}
<br /><br />
<style>
    .dataTables_filter label{
        float:right;
    }

    .alert-danger{
        background-color:#ea6153;
        color:white;
    }

    .alert-info{
        background-color:#0094ff;
        color:white;
    }

    .alert-success{
        background-color:#00ff90;
        color:white;
    }

    .alert-warning{
        background-color:#222;
        color:white;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Index</h2>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
    </div>
</div>
<style>
    
</style>
<div>
    <table class="table table-bordered" cellspacing="0" width="90%" id="index">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th>
                    Project
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th>
                    Type
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th>
                    Status
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th>
                    Priority
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                    <i class="fa fa-fw fa-sort"></i>
                </th>                
                <th>
                    Owner
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th>
                    Assignee
                    <i class="fa fa-fw fa-sort"></i>
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                @if(item.TicketPriority.Name == "High")
                {
                    <td class="alert alert-danger">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                }
                else if(item.TicketPriority.Name == "Medium")
                {
                    <td class="alert alert-info">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                }
                else if (item.TicketPriority.Name == "Low")
                {
                    <td class="alert alert-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                }
                else
                {
                    <td class="alert alert-warning">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>

                }
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedToUser.UserName)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.TicketId })
                    @if (!User.IsInRole("Submitter"))
                    {
                        <span>
                            |
                            @Html.ActionLink("Edit", "Edit", new { id = item.TicketId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TicketId })
                        </span>
                    }

                </td>
            </tr>
        }

    </table>
</div>

