@model IEnumerable<BugTrackerv2.Models.TicketFolder.TicketNotification>
@{
    ViewBag.Title = "Notifications";
}


    <div class="single-head">
        <h2 class="pull-left">Ticket Notifications</h2>
        <div class="clearfix"></div>
    </div>
<div class="container">
    @using (Html.BeginForm("DeleteNotification", "Tickets", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" title="Delete" style="float:right;" onclick="return confirm('Do you really want to delete these notifications?')"><span class="fa fa-trash-o"></span></button>
            </div>
        </div>
        <div class="page-inbox">
            <br />
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="inbox-mail table-responsive" style="margin-left:14px;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Ticket</th>
                                    <th>Message</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var note in Model)
                                {
                                    <tr class="m-unread">
                                        <td><input type="checkbox" name="deletenotifications" id="notificationcheckbox" value="@note.TicketNotificationId"></td>
                                        <td>@note.Ticket.Title</td>
                                        <td>@Html.Raw(note.message)</td>
                                        <td>@note.Created</td>
                                        <td>
                                            @*@Html.ActionLink("Details", "NotificationDetails", new { Id = note.TicketNotificationId })*@
                                            <a href="#" data-toggle="modal" data-target="#@note.TicketNotificationId" class="btn btn-primary"><span class="fa fa-search-plus"> Details</span></a>
                                            <div class="modal fade" id="@note.TicketNotificationId" style="width:630px;">
                                                <script>
                                                    function changeState(state)
                                                    {
                                                        return @note.read = !state;
                                                    }
                                                </script>
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dissmiss="modal" aria-hidden="true">
                                                                x
                                                            </button>
                                                            <h4 class="modal-title">Details</h4>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="modal-body">
                                                                    <dl class="dl dl-horizontal">
                                                                        <dt>Ticket</dt>
                                                                        <dd>@note.Ticket.Title</dd>
                                                                        <dt>Assignee</dt>
                                                                        <dd>@note.Ticket.AssignedToUser.DisplayName</dd>
                                                                        <dt>Message</dt>
                                                                        <dd>@note.message</dd>
                                                                        <dt>Changed On</dt>
                                                                        <dd>@note.Created</dd>
                                                                    </dl>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
