@model BugTrackerv2.Models.CustomViewModels.UserDisplayViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><strong>Name</strong> @Model.projectName</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5">
            <table>
                <tr><th>Project Managers</th></tr>
                @foreach (var user in Model.PM)
                {
                    <tr><td>@user.DisplayName</td></tr>
                }                
            </table>
        </div>
        <div class="col-md-5">
            <table>
                <tr><th>Developers</th></tr>
                @foreach (var user in Model.Devs)
                {
                    <tr><td>@user.DisplayName</td></tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="table">

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.projectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
