@using Microsoft.AspNet.Identity
@using BugTrackerv2.Models.HelperFolder

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/less-style.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/css/jquery-impromptu.css" rel="stylesheet" />
    @RenderSection("css", false)

</head>
<body>    
    <div class="outer">

        <!--NavBar = SideBar + MainBar-->
        @Html.Action("PopulateSideBar", "Home")

        <!--MainBar-->
        <div class="mainbar">
            <!-- Mainbar head starts -->
            @Html.Action("PopulateMainBar", "Home")

            <br />
            <div class="body-content">
                <div class="page-content">
                    @RenderBody()
                </div>
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Bug-Off</p>
                </footer>
            </div>
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script src="/dist/js/bootstrap-select.min.js"></script>
        <script src="/templatescripts/jquery-ui.min.js"></script>
        <script src="/templatescripts/bootstrap-datetimepicker.min.js"></script>
        <script src="/templatescripts/wysihtml5-0.3.0.js"></script>
        <script src="/templatescripts/prettify.js"></script>
        <script src="/templatescripts/bootstrap-wysihtml5.min.js"></script>
        <script src="/templatescripts/fullcalendar.min.js"></script>

        <script src="/templatescripts/jquery.flot.min.js"></script>
        <script src="/templatescripts/jquery.flot.stack.min.js"></script>
        <script src="/templatescripts/jquery.flot.pie.min.js"></script>
        <script src="/templatescripts/jquery.flot.resize.min.js"></script>
        <!-- Validate JS -->
        <script src="/templatescripts/jquery.validate.js"></script>
        <!-- Form wizard steps  JS -->
        <script src="/templatescripts/jquery.steps.min.js"></script>
        <!-- jQuery Knob -->
        <script src="/templatescripts/jquery.knob.js"></script>
        <!-- jQuery Sparklines -->
        <script src="/templatescripts/jquery.sparklines.js"></script>
        <!-- jQuery slim scroll -->
        <script src="/templatescripts/jquery.slimscroll.min.js"></script>
        <!-- Data Tables JS -->
        <script src="/templatescripts/jquery.dataTables.min.js"></script>
        <script src="/templatescripts/jquery-impromptu.js"></script>
        <script src="/templatescripts/custom.js"></script>
        <script>
            $(document).ready(function () {
                $('#index').dataTable({});                               
            })
        </script>
    <!-- Javascript for this page -->
    <script>

        //PIE Chart
        $(function () {

            var data = [],
            series = 5;
            /*
            for (var i = 0; i < series; i++) {
                data[i] = {
                    data: Math.floor((Math.random() * 10) + 1) + 1
                }
            }
            */
            @{
                var temp = new chartdatahelper();
                var rolecount = temp.RoleCount();
            }
            data[0] = @rolecount[0];
            data[1] = @rolecount[1];
            data[2] = @rolecount[2];
            data[3] = @rolecount[3];
            data[4] = @rolecount[4];
            var placeholder = $("#m-pie-chart");

            placeholder.unbind();

            $.plot(placeholder, data, {
                series: {
                    pie: {
                        show: true,
                        innerRadius: 0.6,
                        label: {
                            show: false
                        }
                    }
                },
                colors: ["#f75353", "#51d466", "#32c8de","#f78153","#b94a48"],
                grid: { hoverable: false },
                legend: {
                    show: false
                }
            });

    
        });
    </script>

            
</body>
</html>
