@model BugTrackerv2.Models.CustomViewModels.NavBarViewModel

<!--SideBar-->
<div class="sidebar">
    <div class="sidey">
        <div class="logo" style="padding-bottom:0px;padding-top:0px;">
            <h1>
                <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-desktop br-red"></i>BugTrack<span style="top:-20px;">Dashboard</span>
                </a>
            </h1>
        </div>
        <div class="sidebar-dropdown"><a class="br-red"><i class="fa fa-bars"></i></a></div>
        <div class="side-nav">
            <div class="side-nav-block">
                <!-- Sidebar heading -->
                <h4>Main</h4>
                <!-- Sidebar links -->
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-desktop"></i> Dashboard</a></li>
                    @if (User.IsInRole("Administrator"))
                    {
                            <!-- Mainmenu with submenu -->
                        <li class="has_submenu">
                            <a href="#" class="dropdown-button"><i class="fa fa-user"></i> Admin <span class="nav-caret fa fa-caret-down"></span></a>
                            <!-- Submenu -->
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index","Role")"><i class="fa fa-angle-double-right"></i> Roles</a></li>
                                <li><a href="@Url.Action("Index","Projects")"><i class="fa fa-angle-double-right"></i> Projects</a></li>
                            </ul>
                        </li>
                    }
                    else if (User.IsInRole("Project Manager") || User.IsInRole("Developer"))
                    {
                        <li><a href="@Url.Action("Index","Projects")"><i class="fa fa-file-code-o"></i> Project</a></li>
                    }

                    <!-- Mainmenu with submenu -->
                    <li class="has_submenu">
                        <a href="#" class="dropdown-button">
                            <i class="icon-ticket"></i> Tickets <span class="nav-caret fa fa-caret-down"></span>
                        </a>
                        <!-- Submenu -->
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index","Tickets")"><i class="fa fa-angle-double-right"></i> Ticket table</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("Notifications","Tickets")"><i class="fa fa-bell"></i> Notifications <span class="label label-info" style="float:right;">@ViewBag.NotificationCount</span></a>
                    </li>

                </ul>
            </div>

            <div class="side-nav-block">
                <h4>Menu</h4>
                <ul class="list-unstyled">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("Login","Account")"><i class="fa fa-sign-in"></i> Login</a></li>
                    }
                    <li><a href="lock.html"><i class="fa fa-lock"></i> Lock</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




    <!-- Mainbar head ends -->

    